{% extends "main.html.twig" %}
{% block obsah %}

<style>
.image {
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.1);
}
</style>

<div class = "text-center">
    <img class = "image img-fluid border border-3 border-secondary rounded-3 m-5 shadow-sm" src = "svg/kalhoty1.jpg" width="350" >
    <img class = "image img-fluid border border-3 border-secondary rounded-3 m-5 shadow-sm" src = "svg/mikina1.jpg" width="350" >
    <img class = "image img-fluid border border-3 border-secondary rounded-3 m-5 shadow-sm" src = "svg/mikina2.jpg" width="350" >
    <img class = "image img-fluid border border-3 border-secondary rounded-3 m-5 shadow-sm" src = "svg/mikina3.jpg" width="350" >
    <img class = "image img-fluid border border-3 border-secondary rounded-3 m-5 shadow-sm" src = "svg/kalhoty2.jpg" width="350" >
    <img class = "image img-fluid border border-3 border-secondary rounded-3 m-5 shadow-sm" src = "svg/mikina4.jpg" width="350" >
    <img class = "image img-fluid border border-3 border-secondary rounded-3 m-5 shadow-sm" src = "svg/kalhoty3.jpg" width="350" >
    <img class = "image img-fluid border border-3 border-secondary rounded-3 m-5 shadow-sm" src = "svg/kalhoty4.jpg" width="350" >
</div>


  
{% endblock %}