{% extends "main.html.twig" %}
{% block obsah %}

<div class = "text-center">
    <img class = "img-fluid img-thumbnail rounded-3 m-3" src = "svg/kalhoty1.jpg" width="350" >
    <img class = "img-fluid img-thumbnail rounded-3 m-3" src = "svg/mikina1.jpg" width="350" >
    <img class = "img-fluid img-thumbnail rounded-3 m-3" src = "svg/mikina2.jpg" width="350" >
    <img class = "img-fluid img-thumbnail rounded-3 m-3" src = "svg/mikina3.jpg" width="350" >
    <img class = "img-fluid img-thumbnail rounded-3 m-3" src = "svg/kalhoty2.jpg" width="350" >
</div>


  
{% endblock %}