{% extends "1.html.twig" %}
{% block obsah %}

<table class = "table">
  <tr>
    <th>Produkt</th>
    <th>Velikosti</th>
    <th>Cena</th>
    <th>Skladem<th>
  </tr>
  <tr>
    <td>Mikina - Ramen Noodle Soup Beef Flavor</td>
    <td>XS, S, M, L, XL, 2XL, 3XL</td>
    <td>399,-</td>
    <td>652x</td>    
  </tr>
  <tr>
    <td>Mikina na zip - Ramen Noodle Soup Beef Flavor</td>
    <td>XS, S, M, L, XL, 2XL, 3XL</td>
    <td>349,-</td>
    <td>154x</td>    
  </tr>
  <tr>
    <td>Mikina - Ramen Noodle Soup Chicken Flavor</td>
    <td>XS, S, M, L, XL, 2XL, 3XL</td>
    <td>399,-</td>
    <td>487x</td>    
  </tr>
  <tr>
    <td>Mikina - Takis Fuego</td>
    <td>XS, S, M, L, XL, 2XL, 3XL</td>
    <td>399,-</td>
    <td>458x</td>
  </tr>
  <tr>
    <td>Kalhoty - Ramen Noodle Soup Beef Flavor</td>
    <td>XS, S, M, L, XL, 2XL, 3XL</td>
    <td>299,-</td>
    <td>324x</td>
  </tr>
  <tr>
    <td>Kalhoty - Ramen Noodle Soup Beef Flavor v.2</td>
    <td>XS, S, M, L, XL, 2XL, 3XL</td>
    <td>299,-</td>
    <td>701x</td>
  </tr>
  <tr>
    <td>Kalhoty - Happy</td>
    <td>XS, S, M, L, XL, 2XL, 3XL</td>
    <td>299,-</td>
    <td>6x</td>
  </tr>
  <tr>
    <td>Kalhoty - Burger</td>
    <td>XS, S, M, L, XL, 2XL, 3XL</td>
    <td>299,-</td>
    <td>200x</td>
  </tr>
</table>
{% endblock %}